# the new trusty images of Travis cause build errors with psycopg2, see https://github.com/travis-ci/travis-ci/issues/8897
dist: trusty
group: deprecated-2017Q4

language: python
sudo: required
python:
    - "2.7"
env:
    - CKANVERSION=master
    - CKANVERSION=2.4
    - CKANVERSION=2.5
    - CKANVERSION=2.6
    - CKANVERSION=2.7
    - CKANVERSION=2.8

install:
    - bash bin/travis-build.bash
services:
    - redis-server
    - postgresql
script: sh bin/travis-run.sh
before_install:
    - pip install codecov
after_success:
    - codecov

stages:
  - Flake8
  - test

jobs:
  include:
    - stage: Flake8
      env: Flake8=True
      install:
        - bash bin/travis-build.bash
        - pip install flake8==3.5.0
        - pip install pycodestyle==2.3.0
      script:
        - flake8 --version
        # stop the build if there are Python syntax errors or undefined names
        - flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics --exclude ckan,ckanext-harvest
        # exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
        - flake8 . --count --max-line-length=127 --statistics --exclude ckan,ckanext-harvest
